<%- model_class = Provider -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.code', :default =>  t("helpers.labels.code") %></th>
      <th><%=t '.name', :default =>  t("helpers.labels.name") %></th>
	<th><%=t '.city', :default =>  t("helpers.labels.city") %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
   <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= link_to provider.code, provider_path(provider) %></td>
        <td><%= provider.name %></td>
        <td><%= provider.city %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_provider_path(provider), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      provider_path(provider),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_provider_path,
            :class => 'btn btn-primary' %>

