<%- model_class = Provider -%>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
  $(function() {
    $('input#code').keyup(function() {
      $.get($('#providers_search').attr('action'), $('#providers_search').serialize(), null, 'script');
      return false;
    });	
    $('input#name').keyup(function() {
      $.get($('#providers_search').attr('action'), $('#providers_search').serialize(), null, 'script');
      return false;
    });
    $('input#city').keyup(function() {
      $.get($('#providers_search').attr('action'), $('#providers_search').serialize(), null, 'script');
      return false;
    });

});
</script>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="form-actions">
	<div class="form-search">
      <div class="text-center">
		<%= form_tag({:controller => "providers", :action => "search"}, :method => "get", :id => "providers_search", remote: true) do %>
          <%= text_field_tag :code, params[:code],:class => 'input-small', :placeholder => (t '.code', :default =>  t("helpers.labels.code"))  %>
          <%= text_field_tag :name, params[:name], :placeholder => (t '.name', :default =>  t("helpers.labels.name")) %>
          <%= text_field_tag :city, params[:city], :placeholder => (t '.city', :default =>  t("helpers.labels.city")) %>
          <%= submit_tag((t '.search', :default =>  t("helpers.labels.search")), :class => 'btn btn-danger') %>
        <% end %>
	  </div>
	</div>
</div>
<div id="providers"><%= render 'providers' %></div>