<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.type', :default =>  t("helpers.labels.document_type") %></th>
      <th><%=t '.number', :default =>  t("helpers.labels.document_number") %></th>
      <th><%=t '.name', :default =>  t("helpers.labels.name") %></th>
      <th><%=t '.date', :default =>  t("helpers.labels.date") %></th>
      <th><%=t '.total', :default =>  t("helpers.labels.total") %></th>
      <th><%=t '.status', :default =>  t("helpers.labels.status") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @payments_documents.each do |payments_document| %>
      <tr>
        <td><%= payments_document.type %></td>
        <td><%= payments_document.number %></td>
        <td><%= payments_document.account.name %></td>
        <td><%= payments_document.date %></td>
        <td><%= payments_document.total %></td>
        <%= display_status payments_document.status %>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      payments_document_path(payments_document), :class => 'btn btn-mini btn-warning' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_payments_document_path(payments_document), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      payments_document_path(payments_document),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@movies, :params => { :name => params[:name], :start_at => params[:start_at], :end_at => params[:end_at], :status => params[:status] , :type => params[:type]}, renderer: BootstrapPagination::Rails ) %>
