<%- model_class = Warehouse -%>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<div class="row-fluid">
  <div class="span10">
	<div class="modal fade" id="warehouse-modal"></div>
    <%= form_for @payments_document, :url => {:action => "create_payments_document_account"}, :method => "post"  do |f| %>
      <dl class="dl-horizontal">
        <dt><strong><%=t '.warehouses', :default =>  t("helpers.labels.warehouses") %></strong></dt>
        <dd><%= text_field_tag 'autocomplete_warehouse', '',:style => "width:100%;","data-ajax_autocomplete_path" => warehouse_autocomplete_path, "data-ajax_info_path" => get_info_warehouse_path %>
        <%= link_to t('.new', :default => t("helpers.links.new")), new_warehouse_path, :remote => true, :class => 'btn btn-primary', :style => "width:10%;"%></dd>
      </dl>
      <dl class="dl-horizontal">
	    <dt></dt>
	    <dd><div id="warehouse_name"></div></dd>
      </dl>
	  <dl class="dl-horizontal">
	    <dt><strong><%=t '.date', :default => t("helpers.labels.date") %>:</strong></dt>
	    <dd><%= f.date_select(:date, :order => [:month, :day, :year]) %></dd>
	  </dl>
	  <dl class="dl-horizontal">
	    <dt><strong><%=@type_description %> <%=t '.number', :default => t("helpers.labels.number") %>:</strong></dt>
	    <dd><%= f.text_field :number %></dd>
	  </dl>
	  <%= f.hidden_field :type, :value => @type_description %>
	  <%= f.hidden_field :document_type_id, :value => @type_id %>
	  <%= f.button t('.new', :default => t("helpers.links.new")), :class => 'btn btn-primary' %>
	<% end %>
</div>