<%- model_class = DocumentLine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:version) %>:</strong></dt>
  <dd><%= @document_line.version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:domain) %>:</strong></dt>
  <dd><%= @document_line.domain %></dd>
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @document_line.username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
  <dd><%= @document_line.code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:document_number) %>:</strong></dt>
  <dd><%= @document_line.document_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @document_line.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @document_line.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @document_line.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:in_quantity) %>:</strong></dt>
  <dd><%= @document_line.in_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:out_quantity) %>:</strong></dt>
  <dd><%= @document_line.out_quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @document_line.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @document_line.total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @document_line.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:month) %>:</strong></dt>
  <dd><%= @document_line.month %></dd>
  <dt><strong><%= model_class.human_attribute_name(:header_id) %>:</strong></dt>
  <dd><%= @document_line.header_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @document_line.product_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:warehouse_id) %>:</strong></dt>
  <dd><%= @document_line.warehouse_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stock_id) %>:</strong></dt>
  <dd><%= @document_line.stock_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              document_lines_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_document_line_path(@document_line), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              document_line_path(@document_line),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
