<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :code %>
  <%= f.input :name , input_html: { style: "width:30%;" } %>
  <%= f.input :id_number1 %>
  <%= f.input :id_number2 %>
  <%= f.input :address , input_html: { style: "width:50%;" } %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :country %>
  <%= f.input :zip_code %>
  <%= f.input :telephone %>
  <%= f.input :fax %>
  <%= f.input :email %>
  <%= f.input :web %>
  <%= f.input :contact %>
  <%= f.input :observations , input_html: { style: "width:50%;" } %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn' %>
  </div>
<% end %>
