<%= simple_form_for @document_type, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :description %>
  <%= f.input :account_type, collection: DocumentType::ACCOUNT_TYPES, prompt: t('.select', :default => t("helpers.links.select")) %>
  <%= f.input :stock_type, collection: DocumentType::STOCK_TYPES, prompt: t('.select', :default => t("helpers.links.select")) %>
  <%= f.input :stock %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                document_types_path, :class => 'btn' %>
  </div>
<% end %>
