<%= simple_form_for @document, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :document_number %>
  <%= f.input :date %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                documents_path, :class => 'btn' %>
  </div>
<% end %>
