<div class="alert alert-info">
     <strong><%=t '.code', :default =>  t("helpers.labels.code") %></strong>
     <td><%= @product.code %></td>
     <strong><%=t '.description', :default =>  t("helpers.labels.description") %></strong>
     <td><%= @product.description %></td>
     <strong><%=t '.price', :default =>  t("helpers.labels.price") %></strong>
     <td><%= @product.price %></td>
</div>