<%- model_class = Document -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
     $("#start_at").datepicker($.extend({dateFormat:'dd/mm/yy'},$.datepicker.regional['es'])).on('change', function () {
	   	 $.get($('#documents_search').attr('action'), $('#documents_search').serialize(), null, 'script');
	      return false;
	    });
     $("#end_at").datepicker({dateFormat: 'dd/mm/yy'}).on('change', function () {
	   	 $.get($('#documents_search').attr('action'), $('#documents_search').serialize(), null, 'script');
	      return false;
	    });
  });
  $(function() {
    $('select#type').on('change', function() {
      $.get($('#documents_search').attr('action'), $('#documents_search').serialize(), null, 'script');
      return false;
    });	
    $('input#name').keyup(function() {
      $.get($('#documents_search').attr('action'), $('#documents_search').serialize(), null, 'script');
      return false;
    });
    $('select#status').on('change', function() {
      $.get($('#documents_search').attr('action'), $('#documents_search').serialize(), null, 'script');
      return false;
    });

});
</script>
<%= form_for Document.new, :url => {:action => "new"}, :method => "get"  do |f| %>
  <%= f.collection_select :type, current_user.company.document_types, :id, :description %>
  <%= f.button t('.new', :default => t("helpers.links.new")), :class => 'btn btn-primary' %>
<% end %>
<div class="form-actions">
	<div class="form-search">
        <div class="text-center">
		<%= form_tag({:controller => "documents", :action => "search"}, :method => "get", :id => "documents_search", remote: true) do %>
              <%= select_tag 'type', options_for_select(current_user.company.document_types.collect{|x| [x.description,x.description]}, params[:type]),  class: 'input-medium', :include_blank => true %>
              <%= text_field_tag :name, params[:name], :placeholder => (t '.name', :default =>  t("helpers.labels.name")) %>
              <%= text_field_tag :start_at, params[:start_at], :class => "input-small", :placeholder => (t '.start_at', :default =>  t("helpers.labels.start_at")) %>  
              <%= text_field_tag :end_at, params[:end_at], :class => "input-small", :placeholder => (t '.end_at', :default =>  t("helpers.labels.end_at")) %>  		  		
              <%= select_tag 'status', options_for_select([['' , '' ],[t("helpers.labels.NOT_PAID"),'NOT_PAID'], [t("helpers.labels.PARTIAL_PAID"),'PARTIAL_PAID'], [t("helpers.labels.PAID"),'PAID']], params[:status]),  class: 'input-medium'  %>
              <%= submit_tag((t '.search', :default =>  t("helpers.labels.search")), :class => 'btn btn-danger') %>
            <% end %>
        </div>
	</div>
</div>
<div id="documents"><%= render 'documents' %></div>