<%- model_class = Document -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#start_at").datepicker($.extend({dateFormat:'dd/mm/yy'},$.datepicker.regional['es']));
    $("#end_at").datepicker({dateFormat: 'dd/mm/yy'});
  });
</script>
<%= form_for Document.new, :url => {:action => "new"}, :method => "post"  do |f| %>
  <%= f.collection_select :type, current_user.company.document_types, :id, :description %>
  <%= f.button t('.new', :default => t("helpers.links.new")), :class => 'btn btn-primary' %>
<% end %>
<div class="form-actions">
	<div class="form-search">
        <div class="text-center">
		<%= form_tag({:controller => "documents", :action => "search"}, :method => "post") do %>
              <%= select_tag('type', options_for_select(current_user.company.document_types.collect{|x| [x.description,x.description]}), params[:type], :include_blank => true) %>
              <%= text_field_tag :name, params[:name], :placeholder => (t '.name', :default =>  t("helpers.labels.name")) %>
              <%= text_field_tag :start_at, params[:start_at], :class => "input-small", :placeholder => (t '.start_at', :default =>  t("helpers.labels.start_at")) %>  
              <%= text_field_tag :end_at, params[:end_at], :class => "input-small", :placeholder => (t '.end_at', :default =>  t("helpers.labels.end_at")) %>  		  		
              <%= select_tag 'status', options_for_select([['' , '' ],[t("helpers.labels.NOT_PAID"),'NOT_PAID'], [t("helpers.labels.PARTIAL_PAID"),'PARTIAL_PAID'], [t("helpers.labels.PAID"),'PAID']], params[:status] ) %>
              <%= submit_tag((t '.search', :default =>  t("helpers.labels.search")), :class => 'btn btn-danger') %>
            <% end %>
        </div>
	</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.type', :default =>  t("helpers.labels.document_type") %></th>
      <th><%=t '.document_number', :default =>  t("helpers.labels.document_number") %></th>
      <th><%=t '.name', :default =>  t("helpers.labels.name") %></th>
      <th><%=t '.date', :default =>  t("helpers.labels.date") %></th>
      <th><%=t '.total', :default =>  t("helpers.labels.total") %></th>
      <th><%=t '.status', :default =>  t("helpers.labels.status") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.type %></td>
        <td><%= document.document_number %></td>
        <td><%= document.account.nil? ? '' : document.account.name %></td>
        <td><%= document.date.strftime(current_user.company.date_format) %></td>
        <td><%= number_to_currency(document.total, unit: "", separator: current_user.company.separator , delimiter: current_user.company.delimiter, format: "%u %n") %></td>
        <% if document.payments_document != nil %>
         <%= display_status document.payments_document.status %>
        <% else %>
         <%= display_status document.status %>
        <% end %>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      document_path(document), :class => 'btn btn-mini btn-warning' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_document_path(document), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      document_path(document),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.print', :default => t("helpers.links.print")),
            documents_report_documents_path(:start_at => @start_at, :end_at => @end_at, :name => @name, :status => @status, :type => @type),
            :class => 'btn' %>

<%= will_paginate(@movies, :params => { :type => params[:type], :name => params[:name], :start_at => params[:start_at], :end_at => params[:end_at], :status => params[:status] }, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>