<%- model_class = Document -%>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row-fluid">
  <div class="span6">
    <dl class="dl-horizontal">
      <dt><strong><%=t '.date', :default =>  t("helpers.labels.date") %></strong></dt>
      <dd><%= @document.date %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.document_type', :default =>  t("helpers.labels.document_type") %></strong></dt>
      <dd><%= @document.type %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.name', :default =>  t("helpers.labels.name") %></strong></dt>
      <dd><%= @document.name %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.address', :default =>  t("helpers.labels.address") %></strong></dt>
      <dd><%= @document.address %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.state', :default =>  t("helpers.labels.state") %></strong></dt>
      <dd><%= @document.state %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.zip_code', :default =>  t("helpers.labels.zip_code") %></strong></dt>
      <dd><%= @document.zip_code %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.due', :default =>  t("helpers.labels.due") %></strong></dt>
      <dd><%= @document.due %></dd>  
    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt><strong><%=t '.status', :default =>  t("helpers.labels.status") %></strong></dt>
      <% if @document.status == "NOT_PAID" %>
        <dd><td><span class="label label-important"><%= @document.status %></span></td></dd>
      <% elsif @document.status == "PARTIAL_PAID" %>
        <dd><td><span class="label label-warning"><%= @document.status %></span></td></dd>
      <% else %>
        <dd><td><span class="label label-success"><%= @document.status %></span></td></dd>
      <% end %>
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.document_number', :default =>  t("helpers.labels.document_number") %></strong></dt>
      <dd><%= @document.document_number %></dd>  
    </dl>  
    <dl class="dl-horizontal">
      <dt><strong><%=t '.id_number1', :default =>  t("helpers.labels.id_number1") %></strong></dt>
      <dd><%= @document.id_number1 %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.city', :default =>  t("helpers.labels.city") %></strong></dt>
      <dd><%= @document.city %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.country', :default =>  t("helpers.labels.country") %></strong></dt>
      <dd><%= @document.country %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.telephone', :default =>  t("helpers.labels.telephone") %></strong></dt>
      <dd><%= @document.telephone %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.tax', :default =>  t("helpers.labels.tax") %></strong></dt>
      <dd><%= @document.tax %></dd>  
    </dl>
   </div>
</div>
<div id="document_lines">
  <%= render 'document_line' %>
</div>
<div id="product_description">
</div>
<div class="modal fade" id="product-modal"></div>
<%= form_tag :action => 'create_document_line', :controller => 'documents', :header_id => @document do %>
    <div class="row-fluid">
      <div class="span11">
        <%= text_field_tag 'autocomplete', '',:style => "width:100%;","data-ajax_path" => product_autocomplete_path, "data-ajax_path_2" => get_info_product_path %>
      </div>
      <div class="span1">
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
		:remote => true,
            :class => 'btn btn-primary',
 		:style => "width:70%;"%>
      </div>
      </div>
      <div class="row-fluid">
      <div class="span1">
        <strong><%=t '.quantity', :default =>  t("helpers.labels.quantity") %></strong>
      </div>
      <div class="span4">
        <%= text_field_tag 'quantity', '',:style => "width:100%;" %>
      </div>
      <div class="span1">
        <strong><%=t '.price', :default =>  t("helpers.labels.price")  %></strong>
      </div>
      <div class="span4">
        <%= text_field_tag 'price', '', :style => "width:100%;" %>
      </div>
      <div class="span2">
        <%= submit_tag( "New Line", class: "btn btn-danger", :style => "width:100%;" ) %>
      </div>
	</div>
<% end %>

<div class="form-actions">
  <div class="row-fluid">
    <div class="span6"></div>
    <div class="span4">
      <dl class="dl-horizontal">
        <dt><h4><%=t '.sub_total', :default =>  t("helpers.labels.sub_total") %></h4></dt>
        <dd><h4><%= @document.sub_total %></h4></dd>  
      </dl>
      <dl class="dl-horizontal">
        <dt><h4><%=t '.tax', :default =>  t("helpers.labels.tax") %></h4></dt>
        <dd><h4><%= @document.tax %></h4></dd>  
      </dl>
      <dl class="dl-horizontal">
        <dt><h3><%=t '.total', :default =>  t("helpers.labels.total") %></h3></dt>
        <dd><h3><%= @document.total %></h3></dd>  
      </dl>
      <dl class="dl-horizontal">
        <dt><h4><%=t '.paid', :default =>  t("helpers.labels.paid") %></h4></dt>
        <dd><h4><%= @document.paid %></h3></dd>  
      </dl>
      <dl class="dl-horizontal">
        <dt><h4><%=t '.paid_left', :default =>  t("helpers.labels.paid_left") %></h4></dt>
        <dd><h4><%= @document.paid_left %></h4></dd>  
      </dl>
    </div>
    <div class="span2"></div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.payment_type', :default =>  t("helpers.labels.payment_type") %></th>
      <th><%=t '.date', :default =>  t("helpers.labels.date") %></th>
      <th><%=t '.amount', :default =>  t("helpers.labels.amount") %></th>
      <th><%=t '.notes', :default =>  t("helpers.labels.notes") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @document.payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_type %></td>
        <td><%= payment.date %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.notes %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      payment_path(payment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_tag :action => 'create_payment_line', :controller => 'documents', :header_id => @document do %>
    <div class="row-fluid">
      <div class="span3">
        <%= select_date %>
      </div>
      <div class="span1">
        <strong><%=t '.amount', :default =>  t("helpers.labels.amount")  %></strong>
      </div>
      <div class="span1">
        <%= text_field_tag 'amount', '',:style => "width:100%;" %>
      </div>
      <div class="span1">
        <strong><%=t '.payment_type', :default =>  t("helpers.labels.payment_type")  %></strong>
      </div>
      <div class="span2">
	    <%= select_tag 'payment_type', options_for_select(["CHEQUE","DEPOSITO","EFECTIVO"], "CHEQUE"), :style => "width:100%;" %>
      </div>
      <div class="span1">
        <strong><%=t '.notes', :default =>  t("helpers.labels.notes")  %></strong>
      </div>
      <div class="span2">
        <%= text_field_tag 'notes', '', :style => "width:100%;" %>
      </div>
      <div class="span1">
        <%= submit_tag( "New", class: "btn btn-danger", :style => "width:100%;" ) %>
	</div>
  </div>
<% end %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              documents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_document_path(@document), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              document_path(@document),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
