<%- model_class = Document -%>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row-fluid">
  <div class="span6">
    <dl class="dl-horizontal">
      <dt><strong><%=t '.date', :default =>  t("helpers.labels.date") %></strong></dt>
      <dd><%= @document.date %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.document_type', :default =>  t("helpers.labels.document_type") %></strong></dt>
      <dd><%= @document.type %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.name', :default =>  t("helpers.labels.name") %></strong></dt>
      <dd><%= @document.account.name %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.address', :default =>  t("helpers.labels.address") %></strong></dt>
      <dd><%= @document.account.address %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.state', :default =>  t("helpers.labels.state") %></strong></dt>
      <dd><%= @document.account.state %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.zip_code', :default =>  t("helpers.labels.zip_code") %></strong></dt>
      <dd><%= @document.account.zip_code %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.due', :default =>  t("helpers.labels.due") %></strong></dt>
      <dd><%= @document.due %></dd>  
    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt><strong><%=t '.status', :default =>  t("helpers.labels.status") %></strong></dt>
      <% if @document.payments_document != nil %>
        <dd><%= display_status @document.payments_document.status %></dd>
      <% else %>
        <dd><%= display_status @document.status %></dd>
      <% end %>
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.document_number', :default =>  t("helpers.labels.document_number") %></strong></dt>
      <dd><%= @document.document_number %></dd>  
    </dl>  
    <dl class="dl-horizontal">
      <dt><strong><%=t '.id_number1', :default =>  t("helpers.labels.id_number1") %></strong></dt>
      <dd><%= @document.account.id_number1 %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.city', :default =>  t("helpers.labels.city") %></strong></dt>
      <dd><%= @document.account.city %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.country', :default =>  t("helpers.labels.country") %></strong></dt>
      <dd><%= @document.account.country %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.telephone', :default =>  t("helpers.labels.telephone") %></strong></dt>
      <dd><%= @document.account.telephone %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.tax', :default =>  t("helpers.labels.tax") %></strong></dt>
      <dd><%= @document.tax %></dd>  
    </dl>
   </div>
</div>
<div id="document_lines">
  <%= render 'document_line' %>
</div>
<div id="product_description">
</div>
<div class="modal fade" id="product-modal"></div>
<%= form_tag :action => 'create_document_line', :controller => 'documents', :header_id => @document do %>
    <div class="row-fluid">
      <div class="span11">
        <%= text_field_tag 'autocomplete', '',:style => "width:100%;","data-ajax_path" => product_autocomplete_path, "data-ajax_path_2" => get_info_product_path %>
      </div>
      <div class="span1">
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
		:remote => true,
            :class => 'btn btn-primary',
 		:style => "width:70%;"%>
      </div>
      </div>
      <div class="row-fluid">
      <div class="span1">
        <strong><%=t '.quantity', :default =>  t("helpers.labels.quantity") %></strong>
      </div>
      <div class="span4">
        <%= text_field_tag 'quantity', '',:style => "width:100%;" %>
      </div>
      <div class="span1">
        <strong><%=t '.price', :default =>  t("helpers.labels.price")  %></strong>
      </div>
      <div class="span4">
        <%= text_field_tag 'price', '', :style => "width:100%;" %>
      </div>
      <div class="span2">
        <%= submit_tag( "New Line", class: "btn btn-danger", :style => "width:100%;" ) %>
      </div>
	</div>
<% end %>

<div class="form-actions">
  <div class="row-fluid">
    <div class="span6"></div>
    <div class="span5">
      <dl class="dl-horizontal">
        <dt><h4><%=t '.sub_total', :default =>  t("helpers.labels.sub_total") %></h4></dt>
        <dd><h4><%= number_to_currency(@document.sub_total, unit: current_user.company.unit, separator: current_user.company.separator , delimiter: current_user.company.delimiter, format: "%u %n") %></h4></dd>  
      </dl>
    <dl class="dl-horizontal">
      <dt><h4><strong><%=t '.tax', :default =>  t("helpers.labels.tax") %><%= number_to_currency(@document.tax, unit: "", separator: current_user.company.separator , delimiter: current_user.company.delimiter, format: "%u %n") %> % </strong></h4></dt>
      <dd><h4><%= number_to_currency(@document.tax_total, unit: current_user.company.unit, separator: current_user.company.separator , delimiter: current_user.company.delimiter, format: "%u %n") %></h4></dd>  
    </dl>
      <dl class="dl-horizontal">
        <dt><h3><%=t '.total', :default =>  t("helpers.labels.total") %></h3></dt>
        <dd><h3><%=number_to_currency(@document.total, unit: current_user.company.unit, separator: current_user.company.separator , delimiter: current_user.company.delimiter, format: "%u %n") %></h3></dd>  
      </dl>
    </div>
    <div class="span1"></div>
  </div>
</div>
<div class="form-actions">
	  <%= link_to t('.print', :default => t("helpers.links.print")),
		          document_report_documents_path(@document),
		          :class => 'btn btn-large btn-primary' %>
        <% if current_user.company.name.upcase.include?("FABRIC LAR") %> 
	    <%= link_to "FACTURA",
		          document_report2_documents_path(@document),
		          :class => 'btn btn-large btn-primary' %>
	    <%= link_to "NOTA",
		          document_report3_documents_path(@document),
		          :class => 'btn btn-large btn-primary' %>
         <% end %> 
	   <% if @document.payments_document == nil %>
		    <%= link_to t('.create_payments_document', :default => t("helpers.links.create_payments_document")),
		          create_payments_document_account_path(:autocomplete_client => @document.account.id, :document_type_id => @document.document_type_id),
		          :class => 'btn btn-large btn-success' %>
	   <% else %>
		    <%= link_to t('.go_to_payments_document', :default => t("helpers.links.go_to_payments_document")),
		          payments_document_path(:id => @document.payments_document.id),
		          :class => 'btn btn-large btn' %>

	   <% end %>		
</div>

