<%= simple_form_for @company, :html => { :multipart => true , :class => 'form-horizontal' }, :remote => true do |f| %>
  <%= f.input :name %>
  <%= f.input :id_number1_label %>
  <%= f.input :id_number1 %>
  <%= f.input :address , input_html: { style: "width:50%;" } %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :country %>
  <%= f.input :zip_code %>
  <%= f.input :telephone %>
  <%= f.input :fax %>
  <%= f.input :email %>
  <%= f.input :web %>
  <%= f.input :contact %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
