<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>

<input type="hidden" id="subscribe_year" name="subscribe_year" ajax_path=<%= subscribe_year_path() %> >
<input type="hidden" id="subscribe_month" name="subscribe_month" ajax_path=<%= subscribe_month_path() %> >
<input type="hidden" id="subscribe_alert" name="subscribe_alert" ajax_path=<%= subscribe_alert_path() %> >

<script type="text/javascript">
function execute_month_onreturn (json) {
  if (json.collection_status=='approved'){
	$.ajax({
	  url: $('#subscribe_month').attr('ajax_path'),
	  data: { },
	  async: true,
	  dataType: 'script'
	});	
    alerta ('Pago de un mes acreditado');
  } else if(json.collection_status=='pending'){
    alerta ('El usuario no completó el pago');
  } else if(json.collection_status=='in_process'){    
    alerta ('El pago está siendo revisado');    
  } else if(json.collection_status=='rejected'){
    alerta ('El pago fué rechazado, el usuario puede intentar nuevamente el pago');
  } else if(json.collection_status==null){
    alerta ('El usuario no completó el proceso de pago de un mes, no se ha generado ningún pago');
  }
}
function execute_year_onreturn (json) {
  if (json.collection_status=='approved'){
	$.ajax({
	  url: $('#subscribe_year').attr('ajax_path'),
	  data: { },
	  async: true,
	  dataType: 'script'
	});	
    alerta ('Pago de un año acreditado');
  } else if(json.collection_status=='pending'){
    alerta ('El usuario no completó el pago');
  } else if(json.collection_status=='in_process'){    
    alerta ('El pago está siendo revisado');    
  } else if(json.collection_status=='rejected'){
    alerta ('El pago fué rechazado, el usuario puede intentar nuevamente el pago');
  } else if(json.collection_status==null){
    alerta ('El usuario no completó el proceso de pago de un año, no se ha generado ningún pago');
  }
}
function alerta (msg) {
	$.ajax({
	  url: $('#subscribe_alert').attr('ajax_path'),
	  data: { msg : msg },
	  async: true,
	  dataType: 'script'
	});
}
</script>
<%- 
require 'mercadopago.rb'
  mp = MercadoPago.new(ENV['MERCADO_PAGO_CLIENT_ID'] , ENV['MERCADO_PAGO_CLIENT_SECRET'])
-%>

 <div class="span4">
	<%= render 'shared/error_messages', :object => @company %>
    <dl class="dl-horizontal">
      <dt><strong><%= @company.counter %> de <%= @company.limit %></strong></dt>
    </dl>
    <div class="progress progress-warning">
      <div class="bar" style="width: <%= 100*@company.counter/@company.limit %>%"></div>
    </div>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.initial_cycle', :default =>  t("helpers.labels.initial_cycle") %></strong></dt>
      <dd><%=  @company.initial_cycle.strftime(@company.date_format) %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.final_cycle', :default =>  t("helpers.labels.final_cycle") %></strong></dt>
      <dd><%= @company.final_cycle.strftime(@company.date_format) %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.plan', :default =>  t("helpers.labels.plan") %></strong></dt>
      <% if @company.plan == nil || @company.plan == "GRATIS" %>
          <dd><td><span class="label label-important">GRATIS</span> </td></dd>
        </dl>
        <% if mp != nil %>
          <dl class="dl-horizontal">
            <dt><a href="<%= mp.create_preference({"items" => ["title"=>t("helpers.links.subscribe_month"), "quantity"=>1, "unit_price"=>4000, "currency_id"=>"VEN"]})['response']['init_point'].to_s %>" name="MP-Checkout" class="blue-rn-m" onreturn="execute_month_onreturn"><%= t '.subscribe_month', :default => t("helpers.links.subscribe_month") %></a></dt>
             <dd><%= number_to_currency(4000, unit: @company.unit, separator: @company.separator , delimiter: @company.delimiter, format: "%u %n") %></dd> 
          </dl>
          <dl class="dl-horizontal">
            <dt><a href="<%= mp.create_preference({"items" => ["title"=>t("helpers.links.subscribe_year"), "quantity"=>1, "unit_price"=>40000, "currency_id"=>"VEN"]})['response']['init_point'].to_s %>" name="MP-Checkout" class="red-rn-m" onreturn="execute_year_onreturn"><%= t '.subscribe_year', :default => t("helpers.links.subscribe_year") %></a></dt>
            <dd><%= number_to_currency(40000, unit: @company.unit, separator: @company.separator , delimiter: @company.delimiter, format: "%u %n") %></dd> 
          </dl>
        <% end %>
      <% elsif @company.plan != nil && @company.plan == "PAGO" %>
          <dd><td><span class="label label-success"> <%= @company.plan %> </span></td></dd>
        </dl>
      <% end %>

    <dl class="dl-horizontal">
      <%= link_to t('.edit_formats', :default => t("helpers.links.edit_formats")),
              edit_formats_path(:id => @company.id), :class => 'btn',:style => "width:90%;"   %>
    </dl>
</div>
