<%- model_class = Company -%>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row-fluid">
  <div class="span8">
    <dl class="dl-horizontal">
      <dt><strong><%=t '.code', :default =>  t("helpers.labels.code") %></strong></dt>
      <dd><%=  @company.id %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.name', :default =>  t("helpers.labels.name") %></strong></dt>
      <dd><%= @company.name %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.id_number1', :default =>  t("helpers.labels.id_number1") %></strong></dt>
      <dd><%= @company.id_number1 %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.address', :default =>  t("helpers.labels.address") %></strong></dt>
      <dd><%= @company.address %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.city', :default =>  t("helpers.labels.city") %></strong></dt>
      <dd><%= @company.city %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.state', :default =>  t("helpers.labels.state") %></strong></dt>
      <dd><%=  @company.state %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.country', :default =>  t("helpers.labels.country") %></strong></dt>
      <dd><%= @company.country %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.zip_code', :default =>  t("helpers.labels.zip_code") %></strong></dt>
      <dd><%= @company.zip_code %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.telephone', :default =>  t("helpers.labels.telephone") %></strong></dt>
      <dd><%= @company.telephone %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.fax', :default =>  t("helpers.labels.fax") %></strong></dt>
      <dd><%= @company.fax %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.email', :default =>  t("helpers.labels.email") %></strong></dt>
      <dd><%= @company.email %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.web', :default =>  t("helpers.labels.web") %></strong></dt>
      <dd><%= @company.web %></dd>  
    </dl>
    <dl class="dl-horizontal">
      <dt><strong><%=t '.contact', :default =>  t("helpers.labels.contact") %></strong></dt>
      <dd><%= @company.contact %></dd>  
    </dl>
  </div>
  <div id = "subscribe">
    <%= render :partial => 'subscribe' %>
  </div>
</div>
<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_company_path(@company), :class => 'btn' %>
</div>

<%= render :partial => 'users' %>


