<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="form-actions">
	<div class="form-search">
      <div class="text-center">
        <%= form_tag({:controller => "products", :action => "search"}, :method => "post") do %>
          <%= text_field_tag :code, params[:code], :placeholder => (t '.code', :default =>  t("helpers.labels.code")), :class => 'input-small' %>
          <%= text_field_tag :description, params[:description], :placeholder => (t '.description', :default =>  t("helpers.labels.description"))  %>
          <%= select_tag :brand_id, options_for_select(current_user.company.brands.collect{|x| [x.description,x.id]}, params[:brand_id]),  class: 'input-medium', :include_blank => true  %>
          <%= select_tag :category_id, options_for_select(current_user.company.categories.collect{|x| [x.description,x.id]}, params[:category_id]),  class: 'input-medium', :include_blank => true %>
          <%= submit_tag((t '.search', :default =>  t("helpers.labels.search")), :class => 'btn btn-danger') %>
        <% end %>
	  </div>
	</div>
</div>		
<table class="table table-striped">
  <thead>
      <th><%=t '.code', :default =>  t("helpers.labels.code") %></th>
      <th><%=t '.description', :default =>  t("helpers.labels.description") %></th>
      <th><%=t '.brand', :default =>  t("helpers.labels.brand") %></th>
      <th><%=t '.category', :default =>  t("helpers.labels.category") %></th>
      <th><%=t '.units', :default =>  t("helpers.labels.units") %></th>
      <th><%=t '.price', :default =>  t("helpers.labels.price") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td><%= product.brand.description %></td>
        <td><%= product.category.description %></td>
        <td><%= product.units %></td>
        <td><%= product.price %></td>

        <td>
	      <%= link_to t('.show', :default => t("helpers.links.show")),
                      product_path(product), :class => 'btn btn-mini btn-warning' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
<%= link_to t('.print', :default => t("helpers.links.print")),
            product_list_report_products_path,
            :class => 'btn' %>

<%= will_paginate(@movies, :params => { :code => params[:code], :description => params[:description], :brand_id => params[:brand_id], :category_id => params[:category_id] }, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
