<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pymenta" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pymenta" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
				<div class="navbar">
			    	<div class="navbar-inner">
			    		<ul class="nav">
			    			<li><%= link_to 'Users', users_path %></li>
			    			<li><%= link_to 'Companies', companies_path %></li>
						<li><%= link_to t('.products', :default => t("helpers.labels.products")), products_path %></li>
						<li><%= link_to 'Brands', brands_path %></li>
						<li><%= link_to 'Categories', categories_path %></li>
			    		</ul>
			    	</div>
			    </div>
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
