<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pymenta" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pymenta" %>">
    <%= stylesheet_link_tag "devise", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>  
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
	      <ul class="nav pull-left">
		    <% if user_signed_in? %>
			  <%= link_to "PYMENTA", root_path, :class => 'brand' %>
		    <% else %>
			  <%= link_to "PYMENTA", root_path, :class => 'brand' %>
		    <% end %>
          </ul>
          <ul class="nav pull-right">
            <%= render 'layouts/navigation' %>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div id="main" role="main">
      <div class="container">
        <div id="company-logo">
          <%= render 'companies/logo' %>
        </div>
        <div class="content">
           <div class="row">
            <div class="span12">
				<div class="navbar">
			    	<div class="navbar-inner">
			    		<ul class="nav">
	                      <li><%= link_to t('.documents', :default => t("helpers.labels.documents")), documents_path %></li>
						  <li><%= link_to t('.clients', :default => t("helpers.labels.clients")), clients_path %></li>														
		    			  <li><%= link_to t('.providers', :default => t("helpers.labels.providers")), providers_path %></li>
	                      <li><%= link_to t('.products', :default => t("helpers.labels.products")), products_path %></li>
						  <li><%= link_to t('.stocks', :default => t("helpers.labels.stocks")), stocks_path %></li>
						  <li><%= link_to t('.payments_documents', :default => t("helpers.labels.payments_documents")), payments_documents_path %></li>

					</ul>
			    	</div>
			    </div>
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>