<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pymenta" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pymenta" %>">
    <%= stylesheet_link_tag "bootstrap3.min", :media => "all" %>
    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= javascript_include_tag 'jquery.easing.min' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
	<script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- Core JavaScript Files -->

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
	        <div class="nav-collapse">
		      <ul class="nav pull-left">
                <a class="brand" href="#page-top">PYMENTA</a>
	          </ul>
	        </div>	
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">          
                        <a href="#about">Nuestro Producto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contactanos</a>
                    </li>
                    <li class="page-scroll">
                        <li><%= link_to "Entrar", new_user_session_path %></li>
                    </li>
                    <li class="page-scroll">
	                   <%= link_to "Sign up today", new_user_registration_path , :class=>"btn btn-default" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1><%=t '.title', :default => 'Now your company in the cloud!' %></h1>
                        <p class="intro-text">Relax, ahora nosotros nos encargamos de lo complicado.</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <%= image_tag("arrow.png", class: "img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
				  <h2>Nuestro Producto</h2>      
                  <p class="lead"><%=t '.description', :default => 'Pymenta is a very simple Cloud ERP System created for small companies to create, manage and print documents. You can manage warehouses, providers, clients, products and stock. Designed to work in the Cloud.' %></p>
				  <%= link_to "Sign up today", new_user_registration_path , :class=>"btn btn-danger btn-large" %>	
            </div>
        </div>
    </section>

    <section id="contact" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
	                <h2>Contactanos</h2>
	                <p>Cualquier duda, comentario o sugerencia siéntase libre de escribirnos a la siguiente direccion:</p>
	                <p>papayalabs@gmail.com</p>
	                <ul class="list-inline banner-social-buttons">
	                    <li><a href="https://twitter.com/papayalabs" class="btn btn-danger"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
	                    </li>
	                    <li><a href="https://github.com/papayalabs" class="btn btn-info"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
	                    </li>
	                    <li><a href="https://facebook.com" class="btn btn-primary"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
	                    </li>
                </div>
            </div>
        </div>
    </section>

    <div id="map"></div>
	<div class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4><%= t('.paymentmethod', :default => t("layouts.home.paymentmethod")) %></h4>
                    <%= image_tag("tarjeta.png",  width: "140", alt: "") %>
                    <%= image_tag("mercadopago.png", width: "140", alt: "") %>
                </div><!--/.col-md-3-->

                <div class="col-lg-6">
                    <h4><%= t('.contact', :default => t("layouts.home.contact")) %></h4>
                    <address>
                        <strong><%= t('.companyname', :default => t("layouts.home.companyname")) %></strong><br>
                        papayalabs@gmail.com<br>
                    </address>
                    
                </div> <!--/.col-md-3-->
            </div>
        </div>
    </div><!--/#bottom-->
	    <div class="midnight-blue">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12">
	                    <b><%= t('.madewith', :default => t("layouts.home.madewith")) %></b> <%= image_tag("heart-icon.png", width: "24", alt: "") %> <b><%= t('.invenezuela', :default => t("layouts.home.invenezuela")) %></b>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6">
	                    <%= t('.copyright', :default => t("layouts.home.copyright")) %><a target="_blank" href="http://www.twitter.com/papayalabs" title="Lapapaya"><%= t('.companyname', :default => t("layouts.home.companyname")) %>
	</a>. <%= t('.allrightreserved', :default => t("layouts.home.allrightreserved")) %>
	                </div>
	                <div class="col-sm-6">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><%= link_to t('.termsofservice', :default => t("helpers.home.termsofservice")), terms_path, :class => 'decorated_link'  %></li>
	                    <li><%= link_to t('.privacypolicy', :default => t("helpers.home.privacypolicy")), privacy_path, :class => 'decorated_link'  %></li>
	                  </ul>
	                </div>
	            </div>
	        </div>
	    </div><!--/#footer-->
    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
     <%= javascript_include_tag 'application' %>
</body>

</html>
